// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

* {
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans';
}
.menu-navbar {
	background-color: rgba(245, 246, 247, 0.884) !important;
}
.marco {
	background-position: center;
	background-repeat: none;
	background-size: cover;
}
.container {
	h2 {
		text-align: center;
		color: rgb(255, 43, 43);
	}
	p {
		text-align: justify;
	}
}

.container-form {
	margin-top: 60px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: rgb(6, 99, 206);
}
form {
	margin: auto;
	background: rgb(255, 255, 255);
	max-width: 1000px;
	padding: 30px;
	margin-top: 20px;
	box-shadow: 0px 0px 3px rgb(0, 59, 252);
	border-radius: 6px;
	box-sizing: border-box;
}
input {
	font-size: 16px;
	color: rgb(255, 0, 0);
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	padding: 15px;
}
textarea {
	font-size: 16px;
	color: rgb(255, 0, 0);
	width: 100%;
	border: none;
	border-bottom: 1px solid black;
	outline: none;
	padding: 15px;
	min-height: 140px;
	max-height: 200px;
	max-width: 100%;
}
#boton {
	background-color: rgb(9, 135, 219);
	border-radius: 1px;
	border: 2px solid;
	color: black;
	cursor: pointer;
	font-family: monospace;
	font-size: 16px;
	width: 100%;
}
#galeria {
	img {
		width: 100%;
		height: 300px;
		&:hover {
			border: 5px solid rgb(158, 31, 31);
		}
	}
	.col-lg-4 {
		padding: 25px;
	}
}
.contenedor-institucion {
	p {
		text-align: justify;
	}
}
.contenedorinstitucion-card {
	max-width: 1100px;
	width: 100%;
	display: flex;
}
.card-inst {
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background-color: rgba(29, 88, 250, 0.897);
	box-shadow: 0px 1px 10px rgb(0, 0, 0.2);
	cursor: default;
	transition: all 400ms ease;
	&:hover {
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 4);
		transform: translate Y(-3%);
	}
}
.card {
	background-color: rgb(12, 151, 206);
}
.card-title {
	text-align: center;
}
.contenedor-ori {
	width: 100%;
	max-width: 1200px;
	height: 430px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
	.card-ori {
		width: 330px;
		height: 430px;
		border-radius: 8px;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 2);
		overflow: hidden;
		margin: 20px;
		text-align: center;
		transition: all 0.25s;
		&:hover {
			transform: translateY(-15px);
			box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
		}
		img {
			width: 330px;
			height: 220px;
		}
		h4 {
			font-weight: 600;
		}
		p {
			padding: 0 1rem;
			font-size: 16px;
			font-weight: 300;
		}
		a {
			font-weight: 500;
			text-decoration: none;
			color: blue;
		}
	}
}


.carousel-caption {
	--bs-bg-opacity: 0.8;
	background-color: rgba(var(--bs-primary-rgb), var(--bs-bg-opacity)) !important;
  }

.mapa{
	justify-content: center;
}


.container-foot {
	text-align: center;
	background-color: rgba(1, 1, 1, 0.863);
	padding: 5%;
	color: aliceblue;
	margin-top: 100px;
	display: block;
}

/*OPERACIONES*/

$centrado: center;
$negro: rgba(1, 1, 1, 0.863);
$amarillo: rgb(183, 224, 116);
$margen: 100px;
$padding: 5px;

.extended{
	background-color: $amarillo;
	text-align: $centrado;
	color: $negro;
	margin-top: $margen;
	padding: $padding;
	display: block;
}

/*BUCLES*/

@for $galeria from 1 to 16 {
	.col-lg-4-#{$galeria}
		{
			background-color: rgb(255, 255, 255);
			width: 10% * $galeria;
		}
	
}


/*EACH*/
$color: black;
@each $color in blue, green {
	.color {
		color: $color;
	}	
}

/*MAP*/
$colores:(color1:#111010, color2:#1342c4, color3:#65be1c);


@each $clave2, $valor2 in $colores {
    .#{$clave2} {
        color:$valor2;
    }
}

